@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    background-image: url('../public/crested-butte-bg-1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}